/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Russo+One&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(18, 95%, 55%);
  --second-color: hsl(42, 98%, 52%);
  --first-gradient: linear-gradient(90deg,
                  hsl(18, 95%, 55%),
                  hsl(18, 98%, 64%));
  --title-color: hsl(255, 12%, 12%);
  --text-color: hsl(225, 12%, 24%);
  --text-color-light: hsl(255, 4%, 70%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(255, 20%, 10%);
  --gray-border: hsl(255, 6%, 90%);
  --black-border: hsl(255, 10%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --header-font:"Russo One";
  --body-font: "Lato", sans-serif;
  --big-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .713rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--header-font);
}

p{
  line-height: 180%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main,header{
  /* background-color: rgba(0, 0, 0, 0.252); */
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}


.wrapper{
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding:0 1.5rem;    
}

.section {
  padding-block: 5rem 1rem;
}
.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--second-color);
  margin-bottom: .5rem;
}

.cta{
  padding: 0.8rem 1.5rem;
}



/*=============== HEADER & NAV ===============*/

/* Header contact banner */
.banner{
  border-bottom: 1px solid rgb(190, 190, 190);
}

.banner .wrapper{
  display:flex;
  justify-content: space-between; 
  padding:0.2rem 1.5rem;
}

.banner__info,
.banner__social__media{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.banner__info li{
  margin-right: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  span{
    font-size: var(--smaller-font-size);
    display: none;
  }
}

.banner a{
  color: rgb(72, 52, 52);
}

.banner__social__media li{
  margin-left: 1.2rem;
}

/* Navigation for web */

nav {
  padding: 0.8rem 0;
}

nav .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

nav .wrapper .nav__logo{
  height: clamp(1.5rem, 4vw + 1rem, 2.5rem);
}

nav .wrapper .nav__list{
  display: none;
  /* display: flex; */
  gap: 2rem;
  align-items: center;
}

.nav__bar .nav__list .nav__item:nth-last-child(-n+1){
  
  background-color: rgb(194, 194, 194);
  padding: 1rem 2rem;

  a{
    color:rgb(58, 58, 58);
  }
}

.nav__item a{
  color:rgb(58, 58, 58);
}

.nav__menu__btn{
  background:none;
  border: none;
  font-size: 1.5rem;
}

/* Navigation for mobile devices */


/* Show menu */


/* Change background header */


/* Active link */


/*=============== HOME ===============*/
.home{
  background-color: rgba(0, 0, 0, 0.479); 
  padding: 4rem 0;
  position:relative;
  overflow: hidden;
}

.home .wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;  
}

.hero__title{
  font-size: clamp(1.5rem, 4vw + 1rem, 3.5rem);
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: aliceblue;
}

.hero__description{
  font-size: 1rem;
  max-width: max(500px,50%);
  color: aliceblue;
}

.hero__cta{
  align-self: start;
  background-color: white;
  text-align: rgb(194, 194, 194);
  color:rgb(58, 58, 58);
  
}

video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;

  source{
      object-fit:contain;
  }

}

/*=============== BUTTON ===============*/


/*=============== ABOUT ===============*/
.about{
  /* background-color: white; */
  padding:4rem 0;
}

.about .wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about__details{
  flex:1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  margin-bottom: 1.5rem; 
}

.about__img{
  aspect-ratio: 1/1;
  width: 100%;  
  background-color: rgb(190, 190, 190);
}

.about__cta{
  background-color: rgb(190, 190, 190);
  color:white;
  align-self: start;
}


/*=============== SERVICES ===============*/
.services{
  background-color: rgb(252 252 252);
  display: grid;
  place-content: center;
}

.services .wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:2rem;  
  padding-bottom:4rem;  
}

.services__header{

}

.services__description{

}

.services__grid{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  margin-top: 3rem;  
}

.service__item{
  background-color: white;
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.13);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:1.2rem;
}

.service__item .service__item__icon{
  aspect-ratio: 1/1;
  width: 80px;
  background-color: rgb(215, 215, 215);
  display: grid;
  place-items: center;
  border-radius: 50%;
  i{
    font-size: 1.5rem;    
  }
}

/* ============== WHY US ================ */

.why_us{
  background-color: rgb(119, 119, 119);
  display: grid;
  place-content: center;
}

.why_us .wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;  
}

.why_us__header{
  /* color:rgb(233, 233, 233); */
}

.why_us__grid{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.5rem;
  margin-top: 1.5rem;
  
}

.why_us__item{
  padding: 1.5rem;
  display: flex;
  align-items: start;
  gap:1.2rem;
}

.why_us__item .why_us__item__count{
  aspect-ratio: 1/1;
  height: 3.75rem;
  background-color: rgb(215, 215, 215);
  display: grid;
  place-items: center;
  font-family: var(--header-font);
  font-size: 2rem;
}

.why_us__item__title{

}

.why_us__item__description{
  color:rgb(233, 233, 233);
}

.why__us__ctas{
  display:flex;
  justify-content: center;
  gap:1.5rem;
  margin-top:1.5rem;
}

.why__us__ctas .cta{
  min-width: 160px;
}

.why__us__ctas .cta:nth-child(1){
  border:1px solid rgb(233, 233, 233);
  color:rgb(233, 233, 233);
  text-align: center;
}

.why__us__ctas .cta:nth-child(2){
  background-color: rgb(233, 233, 233);
  color: rgb(119, 119, 119);
  text-align: center;
}
/* Swiper class */


/*=============== PROJECTS ===============*/

.projects{
  padding:5rem 0;
}

.projects .wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.projects__grid{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 1.5rem;
}

.project__item{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px var(--gray-border);
}

.project__item__img{
  width:100%;
  aspect-ratio: 1.5/1;
  background-color: var(--gray-border);
}

.project_details{
  padding:1.5rem 1rem;
}

.project__item__description{
  line-height: 150%;
  margin-top: 1rem;
}

/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/
.footer{
  background-color: rgba(55 55 55);
  padding:5rem 0;

}

.footer .wrapper{
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  column-gap: 2rem;
  row-gap: 2rem;

}

.footer__item{
  display:flex;
  flex-direction: column;
}

.footer__item .title{
  color:rgb(119, 119, 119);
}

.footer__item .content{
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.footer .social__icons{
  display: flex;
  gap:1rem;
  margin-top:1.25rem;
}

.footer .social__icons a{
  background-color:var(--body-color);
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.footer__nav__list{
  display: flex;
  flex-direction: column ;
  gap: 0.8rem; 
}

.footer_nav__item a{
  color: var(--body-color);
}

/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media (max-width: 480px) {
  /* Styles for small devices */

}

/* For medium devices */
@media (min-width: 480px) and (max-width: 768px) {
  /* Styles for medium devices (tablets) */
  /*=============== ABOUT ===============*/

  .about__details{
    flex:1;
    max-width: 600px;
    margin-bottom: 0; 
  }

  .about__img{  
    flex:1;
    max-width: 400px;
  }

  /*=============== SERVICES ===============*/
  .services__grid{
    grid-template-columns: 1fr 1fr;
  }


  /* ============== WHY US ================ */
  .why_us__grid{
    grid-template-columns: 1fr 1fr;  
  }

  /*=============== PROJECTS ===============*/

  .projects__grid{
    grid-template-columns: 1fr 1fr;
  }

  /*=============== FOOTER ===============*/
  .footer .wrapper{
    grid-template-columns: 1fr 1fr;

  }
}

/* For large devices */
@media (min-width: 768px) {
  /* Styles for large devices */
  /*=============== ABOUT ===============*/

  .about__details{
    flex:1;
    max-width: 600px;
    margin-bottom: 0; 
  }

  .about__img{  
    flex:1;
    max-width: 400px;
  }
  
  /*=============== SERVICES ===============*/
  .services__grid{
    grid-template-columns: 1fr 1fr 1fr;
  }


  /* ============== WHY US ================ */
  .why_us__grid{
    grid-template-columns: 1fr 1fr 1fr;  
  }

  /*=============== PROJECTS ===============*/

  .projects__grid{
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*=============== FOOTER ===============*/
  .footer .wrapper{
    grid-template-columns: 1fr 1fr 1fr;

  }
  


  

}

/* For extra large devices (up to 1150px and beyond) */
@media (min-width: 1150px) {
  
}